<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mcx_application_data</key>
	<dict>
		<key>com.apple.universalaccess</key>
		<dict>
			<key>Forced</key>
			<array>
				<dict>
					<key>mcx_preference_version_2</key>
					<dict>
						<key>mcx_preference_settings</key>
						<dict>
							<key>closeViewDriver</key>
							<false/>
							<key>closeViewFarPoint</key>
							<real>1</real>
							<key>closeViewNearPoint</key>
							<real>1</real>
							<key>closeViewShowPreview</key>
							<false/>
							<key>closeViewSmoothImages</key>
							<true/>
							<key>mouseDriver</key>
							<false/>
							<key>mouseDriverInitialDelay</key>
							<real>1</real>
							<key>mouseDriverMaxSpeed</key>
							<integer>11</integer>
							<key>slowKey</key>
							<false/>
							<key>slowKeyBeepOn</key>
							<true/>
							<key>slowKeyDelay</key>
							<integer>250</integer>
							<key>stickyKey</key>
							<false/>
							<key>stickyKeyBeepOnModifier</key>
							<false/>
							<key>stickyKeyShowWindow</key>
							<false/>
							<key>useShortcutKeys</key>
							<false/>
						</dict>
					</dict>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
