<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mcx_application_data</key>
	<dict>
		<key>com.apple.dock</key>
		<dict>
			<key>Forced</key>
			<array>
				<dict>
					<key>mcx_preference_settings</key>
					<dict>
						<key>AppItems-Raw</key>
						<array>
							<dict>
								<key>mcx_typehint</key>
								<integer>1</integer>
								<key>tile-data</key>
								<dict>
									<key>file-label</key>
									<string></string>
								</dict>
								<key>tile-type</key>
								<string>dashboard-tile</string>
							</dict>
							<dict>
								<key>mcx_typehint</key>
								<integer>1</integer>
								<key>tile-data</key>
								<dict>
									<key>file-data</key>
									<dict>
										<key>_CFURLString</key>
										<string>/Applications/Dictionary.app/</string>
										<key>_CFURLStringType</key>
										<integer>0</integer>
									</dict>
									<key>file-label</key>
									<string>Dictionary</string>
								</dict>
								<key>tile-type</key>
								<string>file-tile</string>
							</dict>
							<dict>
								<key>mcx_typehint</key>
								<integer>1</integer>
								<key>tile-data</key>
								<dict>
									<key>file-data</key>
									<dict>
										<key>_CFURLString</key>
										<string>/Applications/Safari.app/</string>
										<key>_CFURLStringType</key>
										<integer>0</integer>
									</dict>
									<key>file-label</key>
									<string>Safari</string>
								</dict>
								<key>tile-type</key>
								<string>file-tile</string>
							</dict>
							<dict>
								<key>mcx_typehint</key>
								<integer>1</integer>
								<key>tile-data</key>
								<dict>
									<key>file-data</key>
									<dict>
										<key>_CFURLString</key>
										<string>/Applications/iWeb.app/</string>
										<key>_CFURLStringType</key>
										<integer>0</integer>
									</dict>
									<key>file-label</key>
									<string>iWeb</string>
								</dict>
								<key>tile-type</key>
								<string>file-tile</string>
							</dict>
							<dict>
								<key>mcx_typehint</key>
								<integer>1</integer>
								<key>tile-data</key>
								<dict>
									<key>file-data</key>
									<dict>
										<key>_CFURLString</key>
										<string>/Applications/GarageBand.app/</string>
										<key>_CFURLStringType</key>
										<integer>0</integer>
									</dict>
									<key>file-label</key>
									<string>GarageBand</string>
								</dict>
								<key>tile-type</key>
								<string>file-tile</string>
							</dict>
							<dict>
								<key>mcx_typehint</key>
								<integer>1</integer>
								<key>tile-data</key>
								<dict>
									<key>file-data</key>
									<dict>
										<key>_CFURLString</key>
										<string>/Applications/iPhoto.app/</string>
										<key>_CFURLStringType</key>
										<integer>0</integer>
									</dict>
									<key>file-label</key>
									<string>iPhoto</string>
								</dict>
								<key>tile-type</key>
								<string>file-tile</string>
							</dict>
							<dict>
								<key>mcx_typehint</key>
								<integer>1</integer>
								<key>tile-data</key>
								<dict>
									<key>file-data</key>
									<dict>
										<key>_CFURLString</key>
										<string>/Applications/iWork '08/Pages.app/</string>
										<key>_CFURLStringType</key>
										<integer>0</integer>
									</dict>
									<key>file-label</key>
									<string>Pages</string>
								</dict>
								<key>tile-type</key>
								<string>file-tile</string>
							</dict>
							<dict>
								<key>mcx_typehint</key>
								<integer>1</integer>
								<key>tile-data</key>
								<dict>
									<key>file-data</key>
									<dict>
										<key>_CFURLString</key>
										<string>/Applications/iWork '08/Keynote.app/</string>
										<key>_CFURLStringType</key>
										<integer>0</integer>
									</dict>
									<key>file-label</key>
									<string>Keynote</string>
								</dict>
								<key>tile-type</key>
								<string>file-tile</string>
							</dict>
							<dict>
								<key>mcx_typehint</key>
								<integer>1</integer>
								<key>tile-data</key>
								<dict>
									<key>file-data</key>
									<dict>
										<key>_CFURLString</key>
										<string>/Applications/iWork '08/Numbers.app/</string>
										<key>_CFURLStringType</key>
										<integer>0</integer>
									</dict>
									<key>file-label</key>
									<string>Numbers</string>
								</dict>
								<key>tile-type</key>
								<string>file-tile</string>
							</dict>
							<dict>
								<key>mcx_typehint</key>
								<integer>1</integer>
								<key>tile-data</key>
								<dict>
									<key>file-data</key>
									<dict>
										<key>_CFURLString</key>
										<string>/Applications/Scratch 1.4/Scratch.app/</string>
										<key>_CFURLStringType</key>
										<integer>0</integer>
									</dict>
									<key>file-label</key>
									<string>Scratch</string>
								</dict>
								<key>tile-type</key>
								<string>file-tile</string>
							</dict>
							<dict>
								<key>mcx_typehint</key>
								<integer>1</integer>
								<key>tile-data</key>
								<dict>
									<key>file-data</key>
									<dict>
										<key>_CFURLString</key>
										<string>/Applications/Type To Learn 3 Network/Type To Learn 3.app/</string>
										<key>_CFURLStringType</key>
										<integer>0</integer>
									</dict>
									<key>file-label</key>
									<string>Type To Learn 3</string>
								</dict>
								<key>tile-type</key>
								<string>file-tile</string>
							</dict>
							<dict>
								<key>mcx_typehint</key>
								<integer>1</integer>
								<key>tile-data</key>
								<dict>
									<key>file-data</key>
									<dict>
										<key>_CFURLString</key>
										<string>/Applications/Key Skills/Key Skills/</string>
										<key>_CFURLStringType</key>
										<integer>0</integer>
									</dict>
									<key>file-label</key>
									<string>Key Skills</string>
								</dict>
								<key>tile-type</key>
								<string>file-tile</string>
							</dict>
							<dict>
								<key>mcx_typehint</key>
								<integer>1</integer>
								<key>tile-data</key>
								<dict>
									<key>file-data</key>
									<dict>
										<key>_CFURLString</key>
										<string>/Applications/Google Earth.app/</string>
										<key>_CFURLStringType</key>
										<integer>0</integer>
									</dict>
									<key>file-label</key>
									<string>Google Earth</string>
								</dict>
								<key>tile-type</key>
								<string>file-tile</string>
							</dict>
							<dict>
								<key>mcx_typehint</key>
								<integer>1</integer>
								<key>tile-data</key>
								<dict>
									<key>file-data</key>
									<dict>
										<key>_CFURLString</key>
										<string>/Applications/Tux Paint 0.9.21/Tux Paint.app/</string>
										<key>_CFURLStringType</key>
										<integer>0</integer>
									</dict>
									<key>file-label</key>
									<string>Tux Paint</string>
								</dict>
								<key>tile-type</key>
								<string>file-tile</string>
							</dict>
							<dict>
								<key>mcx_typehint</key>
								<integer>1</integer>
								<key>tile-data</key>
								<dict>
									<key>file-data</key>
									<dict>
										<key>_CFURLAliasData</key>
										<data>
								AAAAAASSAAIA
								AARBcHBzAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AADC5yZ6SCsA
								AQBmHpoTTWFw
								cyBBbmQgR3Jh
								cGhzLmFwcAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAGYe
								nsLnKP5BUFBM
								TXBnYf////8A
								ABERYXMAAAAA
								AAAAAAAAAAAA
								D01hcHMgQW5k
								IEdyYXBocwAA
								EAAIAADC54jq
								AAAAEQAIAADC
								54tuAAAAAQAI
								AGYemgBmHoEA
								AgA8QXBwczpN
								aWNyb2dyYW1z
								IFNvZnR3YXJl
								Ok1hcHMgQW5k
								IEdyYXBoczpN
								YXBzIEFuZCBH
								cmFwaHMuYXBw
								AA4AKAATAE0A
								YQBwAHMAIABB
								AG4AZAAgAEcA
								cgBhAHAAaABz
								AC4AYQBwAHAA
								DwAKAAQAQQBw
								AHAAcwASADgv
								TWljcm9ncmFt
								cyBTb2Z0d2Fy
								ZS9NYXBzIEFu
								ZCBHcmFwaHMv
								TWFwcyBBbmQg
								R3JhcGhzLmFw
								cAATAA0vVm9s
								dW1lcy9BcHBz
								AAAJAvQC9GFm
								cG0AgAQEAAEA
								JABEAGgAAADo
								ASwAIQE1AVUA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AANic2EAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AARBcHBzAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAACBQRi
								c2EIAgoDM0wC
								JAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAD//wAA
										</data>
										<key>_CFURLString</key>
										<string>/Volumes/Apps/Micrograms Software/Maps And Graphs/Maps And Graphs.app</string>
										<key>_CFURLStringType</key>
										<integer>0</integer>
									</dict>
									<key>file-label</key>
									<string>Maps And Graphs</string>
								</dict>
								<key>tile-type</key>
								<string>file-tile</string>
							</dict>
							<dict>
								<key>mcx_typehint</key>
								<integer>1</integer>
								<key>tile-data</key>
								<dict>
									<key>file-data</key>
									<dict>
										<key>_CFURLAliasData</key>
										<data>
								AAAAAASEAAIA
								AARBcHBzAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AADC5yZ6SCsA
								AQBmHqQRTWF0
								aG9zYXVydXMg
								SS5hcHAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAGYe
								r8LnJjhBUFBM
								TWR0Mf////8A
								ABERYXMAAAAA
								AAAAAAAAAAAA
								DU1hdGhvc2F1
								cnVzIEkAABAA
								CAAAwueI6gAA
								ABEACAAAwueI
								qAAAAAEACABm
								HqQAZh6BAAIA
								OEFwcHM6TWlj
								cm9ncmFtcyBT
								b2Z0d2FyZTpN
								YXRob3NhdXJ1
								cyBJOk1hdGhv
								c2F1cnVzIEku
								YXBwAA4AJAAR
								AE0AYQB0AGgA
								bwBzAGEAdQBy
								AHUAcwAgAEkA
								LgBhAHAAcAAP
								AAoABABBAHAA
								cABzABIANC9N
								aWNyb2dyYW1z
								IFNvZnR3YXJl
								L01hdGhvc2F1
								cnVzIEkvTWF0
								aG9zYXVydXMg
								SS5hcHAAEwAN
								L1ZvbHVtZXMv
								QXBwcwAACQL0
								AvRhZnBtAIAE
								BAABACQARABo
								AAAA6AEsACEB
								NQFVAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAADYnNh
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAEQXBw
								cwAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AgUEYnNhCAIK
								AzNMAiQAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								//8AAA==
										</data>
										<key>_CFURLString</key>
										<string>/Volumes/Apps/Micrograms Software/Mathosaurus I/Mathosaurus I.app</string>
										<key>_CFURLStringType</key>
										<integer>0</integer>
									</dict>
									<key>file-label</key>
									<string>Mathosaurus I</string>
								</dict>
								<key>tile-type</key>
								<string>file-tile</string>
							</dict>
							<dict>
								<key>mcx_typehint</key>
								<integer>1</integer>
								<key>tile-data</key>
								<dict>
									<key>file-data</key>
									<dict>
										<key>_CFURLAliasData</key>
										<data>
								AAAAAASKAAIA
								AARBcHBzAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AADC5yZ6SCsA
								AQBmHrcSTWF0
								aG9zYXVydXMg
								SUkuYXBwAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAGYe
								v8LnKG1BUFBM
								TWR0Mv////8A
								ABERYXMAAAAA
								AAAAAAAAAAAA
								Dk1hdGhvc2F1
								cnVzIElJABAA
								CAAAwueI6gAA
								ABEACAAAwueK
								3QAAAAEACABm
								HrcAZh6BAAIA
								OkFwcHM6TWlj
								cm9ncmFtcyBT
								b2Z0d2FyZTpN
								YXRob3NhdXJ1
								cyBJSTpNYXRo
								b3NhdXJ1cyBJ
								SS5hcHAADgAm
								ABIATQBhAHQA
								aABvAHMAYQB1
								AHIAdQBzACAA
								SQBJAC4AYQBw
								AHAADwAKAAQA
								QQBwAHAAcwAS
								ADYvTWljcm9n
								cmFtcyBTb2Z0
								d2FyZS9NYXRo
								b3NhdXJ1cyBJ
								SS9NYXRob3Nh
								dXJ1cyBJSS5h
								cHAAEwANL1Zv
								bHVtZXMvQXBw
								cwAACQL0AvRh
								ZnBtAIAEBAAB
								ACQARABoAAAA
								6AEsACEBNQFV
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAADYnNhAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAEQXBwcwAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAgUE
								YnNhCAIKAzNM
								AiQAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAA//8A
								AA==
										</data>
										<key>_CFURLString</key>
										<string>/Volumes/Apps/Micrograms Software/Mathosaurus II/Mathosaurus II.app</string>
										<key>_CFURLStringType</key>
										<integer>0</integer>
									</dict>
									<key>file-label</key>
									<string>Mathosaurus II</string>
								</dict>
								<key>tile-type</key>
								<string>file-tile</string>
							</dict>
							<dict>
								<key>mcx_typehint</key>
								<integer>1</integer>
								<key>tile-data</key>
								<dict>
									<key>file-data</key>
									<dict>
										<key>_CFURLAliasData</key>
										<data>
								AAAAAASKAAIA
								AARBcHBzAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AADC5yZ6SCsA
								AQBmHsoSV2ls
								ZCBXZXN0IE1h
								dGguYXBwAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAGYe
								2cLnKa9BUFBM
								TXd3bf////8A
								ABERYXMAAAAA
								AAAAAAAAAAAA
								DldpbGQgV2Vz
								dCBNYXRoABAA
								CAAAwueI6gAA
								ABEACAAAwueM
								HwAAAAEACABm
								HsoAZh6BAAIA
								OkFwcHM6TWlj
								cm9ncmFtcyBT
								b2Z0d2FyZTpX
								aWxkIFdlc3Qg
								TWF0aDpXaWxk
								IFdlc3QgTWF0
								aC5hcHAADgAm
								ABIAVwBpAGwA
								ZAAgAFcAZQBz
								AHQAIABNAGEA
								dABoAC4AYQBw
								AHAADwAKAAQA
								QQBwAHAAcwAS
								ADYvTWljcm9n
								cmFtcyBTb2Z0
								d2FyZS9XaWxk
								IFdlc3QgTWF0
								aC9XaWxkIFdl
								c3QgTWF0aC5h
								cHAAEwANL1Zv
								bHVtZXMvQXBw
								cwAACQL0AvRh
								ZnBtAIAEBAAB
								ACQARABoAAAA
								6AEsACEBNQFV
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAADYnNhAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAEQXBwcwAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAgUE
								YnNhCAIKAzNM
								AiQAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAA//8A
								AA==
										</data>
										<key>_CFURLString</key>
										<string>/Volumes/Apps/Micrograms Software/Wild West Math/Wild West Math.app</string>
										<key>_CFURLStringType</key>
										<integer>0</integer>
									</dict>
									<key>file-label</key>
									<string>Wild West Math</string>
								</dict>
								<key>tile-type</key>
								<string>file-tile</string>
							</dict>
							<dict>
								<key>mcx_typehint</key>
								<integer>1</integer>
								<key>tile-data</key>
								<dict>
									<key>file-data</key>
									<dict>
										<key>_CFURLString</key>
										<string>/Applications/Lexia Reading.app</string>
										<key>_CFURLStringType</key>
										<integer>0</integer>
									</dict>
									<key>file-label</key>
									<string>Lexia Reading</string>
								</dict>
								<key>tile-type</key>
								<string>file-tile</string>
							</dict>
						</array>
						<key>DocItems-Raw</key>
						<array/>
						<key>MCXDockSpecialFolders-Raw</key>
						<array/>
						<key>contents-immutable</key>
						<true/>
						<key>static-only</key>
						<true/>
					</dict>
					<key>mcx_union_policy_keys</key>
					<array>
						<dict>
							<key>mcx_input_key_names</key>
							<array>
								<string>AppItems-Raw</string>
							</array>
							<key>mcx_output_key_name</key>
							<string>static-apps</string>
							<key>mcx_remove_duplicates</key>
							<true/>
						</dict>
						<dict>
							<key>mcx_input_key_names</key>
							<array>
								<string>DocItems-Raw</string>
							</array>
							<key>mcx_output_key_name</key>
							<string>static-others</string>
							<key>mcx_remove_duplicates</key>
							<true/>
						</dict>
						<dict>
							<key>mcx_input_key_names</key>
							<array>
								<string>MCXDockSpecialFolders-Raw</string>
							</array>
							<key>mcx_output_key_name</key>
							<string>MCXDockSpecialFolders</string>
							<key>mcx_remove_duplicates</key>
							<true/>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
