<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mcx_application_data</key>
	<dict>
		<key>com.apple.systempreferences</key>
		<dict>
			<key>Forced</key>
			<array>
				<dict>
					<key>mcx_preference_settings</key>
					<dict>
						<key>EnabledPreferencesPanes-Raw</key>
						<array>
							<string>com.apple.preference.ink</string>
							<string>com.apple.preference.printfax</string>
							<string>com.apple.preference.spotlight</string>
							<string>com.apple.preference.keyboard</string>
							<string>com.apple.preference.speech</string>
							<string>com.apple.preference.quicktime</string>
							<string>com.apple.preference.desktopscreeneffect</string>
							<string>com.apple.preferences.Bluetooth</string>
							<string>com.apple.Localization</string>
							<string>com.apple.preference.expose</string>
							<string>com.apple.preference.general</string>
							<string>net.telestream.wmv.prefpane</string>
							<string>com.apple.preference.dock</string>
							<string>com.apple.preference.digihub.discs</string>
							<string>com.apple.preference.displays</string>
							<string>com.apple.preference.energysaver</string>
							<string>com.apple.preference.datetime</string>
							<string>com.apple.preference.sound</string>
							<string>com.apple.preference.network</string>
						</array>
					</dict>
					<key>mcx_preference_version_2</key>
					<dict>
						<key>mcx_preference_settings</key>
						<dict>
							<key>com.apple.preference.universalaccess-hearing</key>
							<array>
								<string>hearingTab</string>
							</array>
							<key>com.apple.preference.universalaccess-keyboard</key>
							<array>
								<string>keyboardTab</string>
							</array>
							<key>com.apple.preference.universalaccess-mouse</key>
							<array>
								<string>mouseTab</string>
							</array>
							<key>com.apple.preference.universalaccess-options</key>
							<array>
								<string>allowUAShortcuts</string>
							</array>
							<key>com.apple.preference.universalaccess-seeing</key>
							<array>
								<string>seeingTab</string>
							</array>
						</dict>
						<key>mcx_union_policy_keys</key>
						<array>
							<dict>
								<key>mcx_input_key_names</key>
								<array>
									<string>com.apple.preference.universalaccess-seeing</string>
									<string>com.apple.preference.universalaccess-hearing</string>
									<string>com.apple.preference.universalaccess-keyboard</string>
									<string>com.apple.preference.universalaccess-mouse</string>
									<string>com.apple.preference.universalaccess-options</string>
								</array>
								<key>mcx_output_key_name</key>
								<string>com.apple.preference.universalaccess</string>
								<key>mcx_remove_duplicates</key>
								<true/>
							</dict>
						</array>
					</dict>
					<key>mcx_union_policy_keys</key>
					<array>
						<dict>
							<key>mcx_input_key_names</key>
							<array>
								<string>EnabledPreferencesPanes-Raw</string>
							</array>
							<key>mcx_output_key_name</key>
							<string>EnabledPreferencePanes</string>
							<key>mcx_remove_duplicates</key>
							<true/>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
