<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mcx_application_data</key>
	<dict>
		<key>com.apple.applicationaccess</key>
		<dict>
			<key>Forced</key>
			<array>
				<dict>
					<key>mcx_preference_settings</key>
					<dict>
						<key>AllowUnbundledApps</key>
						<false/>
						<key>ApprovedAppLaunchesOthers</key>
						<true/>
						<key>DenyList-Raw</key>
						<dict>
							<key>com.apple.DirectoryService.Config</key>
							<dict>
								<key>editable</key>
								<true/>
							</dict>
							<key>com.apple.MigrateAssistant</key>
							<dict>
								<key>editable</key>
								<true/>
							</dict>
							<key>com.apple.MirrorAgent</key>
							<dict>
								<key>editable</key>
								<true/>
							</dict>
							<key>com.apple.NetInfoManager</key>
							<dict>
								<key>editable</key>
								<true/>
							</dict>
							<key>com.apple.ServerAdmin</key>
							<dict>
								<key>editable</key>
								<true/>
							</dict>
							<key>com.apple.ServerAssistant</key>
							<dict>
								<key>editable</key>
								<true/>
							</dict>
							<key>com.apple.Sherlock</key>
							<dict>
								<key>editable</key>
								<true/>
							</dict>
							<key>com.apple.SoftwareUpdate</key>
							<dict>
								<key>editable</key>
								<true/>
							</dict>
							<key>com.apple.Terminal</key>
							<dict>
								<key>editable</key>
								<true/>
							</dict>
							<key>com.apple.VoiceOverUtility</key>
							<dict>
								<key>editable</key>
								<true/>
							</dict>
							<key>com.apple.WorkgroupManager</key>
							<dict>
								<key>editable</key>
								<true/>
							</dict>
							<key>com.apple.airport.adminutility</key>
							<dict>
								<key>editable</key>
								<true/>
							</dict>
							<key>com.apple.dashboardlauncher</key>
							<dict>
								<key>editable</key>
								<true/>
							</dict>
							<key>com.apple.iChat</key>
							<dict>
								<key>editable</key>
								<true/>
							</dict>
							<key>com.apple.internetconnect</key>
							<dict>
								<key>editable</key>
								<true/>
							</dict>
							<key>com.apple.mcx.using.disallow.list</key>
							<dict/>
							<key>com.apple.remoteinstallmacosx</key>
							<dict>
								<key>editable</key>
								<true/>
							</dict>
							<key>com.apple.server.siu</key>
							<dict>
								<key>editable</key>
								<true/>
							</dict>
							<key>com.apple.servermonitor</key>
							<dict>
								<key>editable</key>
								<true/>
							</dict>
							<key>com.apple.xgrid.admin</key>
							<dict>
								<key>editable</key>
								<true/>
							</dict>
						</dict>
						<key>OpenItemsInternalDrive</key>
						<true/>
						<key>SystemLaunchers-Raw</key>
						<dict>
							<key>com.apple.dock</key>
							<dict/>
							<key>com.apple.finder</key>
							<dict/>
						</dict>
					</dict>
					<key>mcx_union_policy_keys</key>
					<array>
						<dict>
							<key>mcx_input_key_names</key>
							<array>
								<string>DenyList-Raw</string>
							</array>
							<key>mcx_output_key_name</key>
							<string>DenyList</string>
							<key>mcx_remove_duplicates</key>
							<true/>
							<key>mcx_union_as_dictionary</key>
							<true/>
						</dict>
						<dict>
							<key>mcx_input_key_names</key>
							<array>
								<string>SystemLaunchers-Raw</string>
							</array>
							<key>mcx_output_key_name</key>
							<string>SystemLaunchers</string>
							<key>mcx_remove_duplicates</key>
							<true/>
							<key>mcx_union_as_dictionary</key>
							<true/>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
